@font-face {
    font-family: Roboto-Lightimport;
    src: url(fonts/Roboto-Light.ttf)
}

@font-face {
    font-family: Roboto-Regularimport;
    src: url(fonts/Roboto-Regular.ttf)
}
body {
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    border: 1px solid #1E6FB5;
    height: 10px;
    background-color: #1E6FB5;
}

.first-box {
    display: flex;
    margin-left: 5em;
    height: 170px;
    align-items: flex-end;
    margin-top: 4em;
}

.column-1 {
    border-left: 1px solid #878483;
    margin-left: 2em;
    height: 150px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #878483;
    font-family: Roboto-Lightimport;
    bottom: 5px;
    width: 19%;
}

.column-2 {
    border-left: 1px solid #878483;
    margin-left: 2em;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #878483;
    font-family: Roboto-Lightimport;
    width: 27%;
}

.column-3 {
    border-left: 1px solid #878483;
    margin-left: 2em;
    height: 150px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #878483;
    font-family: Roboto-Lightimport;
    bottom: 5px;
    width: 27%;
}

.column-4 {
    border-left: 1px solid #878483;
    margin-left: 2em;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #878483;
    font-family: Roboto-Lightimport;
    bottom: 5px;
    width: 27%;
}
.first {
    font-size: 22px;
    color: #1E6FB5;
    font-family: Roboto-Regularimport;
    padding-bottom: 2em;
}
.img {
    max-width: 1369px;
}
.mid-box {
    margin-bottom: 3em;
}
.buttom-box {
    display: flex;
    justify-content: space-around;
}
.icon {
    width: 50px;
}
.icon-box {
    margin-bottom: -1.5em;
    text-align: center;
}
.numbers {
    font-weight: 100;
    color: gray;
    font-size: larger;
    margin-bottom: -.5em;
}
.buttom-box .text {
    font-family: Roboto-Regularimport;
    color: mediumslateblue;
    text-align: center;
}