@font-face {
    font-family: Roboto-Lightimport;
    src: url(fonts/Roboto-Light.ttf)
}

@font-face {
    font-family: Roboto-Regularimport;
    src: url(fonts/Roboto-Regular.ttf)
}
hr{
  height: 8px;  
    width: 100%;
    background-color:  #1E6FB5;
    border: none;
    margin: 0;
}
body {
    margin: 0 auto;
    width: 700px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.first-box {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #878483;
    font-family: Roboto-Lightimport;
    border-left: .5px solid #878483;
    border-color: #878483;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-right: 50px;

}

.secound-box {
    margin: 0px;
    padding-bottom: 0px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.third-box {
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: Roboto-Lightimport;
    color: #878483;
    border-left: .5px solid #878483;
    border-color: #878483;
    margin-left: 240px;
    padding-left: 30px;
    padding-top: 30px;
    margin-right: 50px;


}

.col-1 {
    display: flex;
}

.col-2 {
    display: flex;
    flex-direction: column;
}

.col-3 {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    margin: 0;
}

.pic1, .col-2 {
    margin-right: 4px;
    margin-bottom: 0px;
}

.pic1, .pic3, .pic6 {
margin-bottom: none;
}

.headline {
    font-size: 22px;
    color: #1E6FB5;
    font-family: Roboto-Regularimport;
    margin: 0;
}

.footer-img {
    position: relative;
    margin: none;
    padding: none;
    width: auto;
    top: 6px;
}

.row-2{
    font-size: 12px;
}